

h1
  | Listing phrases

table.table
  tr
    th
      | Id
    th
      | Phrase
    th
      | Translation
    th
      | Category
    th
      | Author

  - @phrases.each do |phrase|
    = render phrase, author: true


  // = render partial: "phrase", collection: @phrases


.digg_pagination
  .page_info
    = page_entries_info @phrases
  = will_paginate @phrases, :container => false

